# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.env.sample text eol=lf
*.sql text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.gif binary
*.woff2 binary
