# API Gateway / Main Server
NODE_ENV=
LOG_LEVEL=
MAIN_SERVER_PORT=
SERVICE_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# CORS
CORS_ORIGINS=

# Internal Service URLs
CORE_SERVER_URL=
PROCESSOR_SERVER_URL=
LLM_SERVER_URL=
